/* Dùng chung cho các block căn đều */
.section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.home-container {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.ad-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
