.categories-wrapper {
  width: 70%;
  margin: 0 auto;
}

.categories-container {
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 0 4px 12px rgba(17, 13, 13, 0.05);
  border: none !important;
}

.categories-title {
  margin-top: 5px;
  font-size: 26px;
  font-weight: bold;
  color: #0a0404;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px; /* tạo khoảng cách với đường kẻ */
  border-bottom: 5px solid #c92127; /* ✅ đường kẻ đỏ */
}

.categories-title::before {
  font-weight: bold;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* ✅ 5 cột mỗi hàng */
  gap: 8px 8px;
  justify-items: center; /* ✅ căn giữa từng item trong ô */
}

.category-item {
  text-align: center;
  width: 100%;
  max-width: 100px;
  background-color: #ffffff;
}

.category-link {
  display: block;
  width: 80px;
  height: 80px;
  background-color: transparent;
  transition: transform 0.2s ease;
}

.category-link:hover {
  transform: translateY(-2px);
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  background-color: transparent;
  border: none;
}

.category-name {
  font-weight: bold;
  margin-top: 6px;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
